.app-download {
  font-size: 40px;
  margin: auto auto;
  margin-top: 60px;
  text-align: center;
}
.app-download p {
  margin-bottom: 30px;
}
.app-download .store {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.app-download .store img {
  max-width: 180px;
  transition: 0.5s;
  cursor: pointer;
}
.app-download .store img:hover {
  transform: scale(1.05);
}
