.footer {
  margin-top: 60px;
  color: rgb(212, 206, 206);
  background-color: rgb(29, 28, 28);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 8vw;
  padding-top: 80px;
}
.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
}
.footer-center,
.footer-right,
.footer-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.icons img {
  width: 40px;
  margin-right: 15px;
}
.footer-left ul,
.footer-center ul {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer hr {
  background-color: rgb(160, 156, 156);
  border: none;
  width: 100%;
  height: 2px;
  margin: 20px 0;
}
@media (max-width: 750px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .copyright {
    text-align: center;
  }
}
